require('dotenv').config()
let config = {}

// The google configuration object
config.goog = Object.freeze({
  analyticsTimezone: 'America/New_York',
  viewId: 'ABCDEFG',
  privateKey: Buffer.from(process.env.GOOGLE_PRIVATE_KEY, 'base64').toString(),
  clientEmail: Buffer.from(process.env.GOOGLE_CLIENT_EMAIL, 'base64').toString(),
  startDate: '2010-01-01',
  dimensions: {
    'ga:sessionCount': 'sessionCount'
  },
  metrics: {
    'ga:newUsers': 'newUsers'
  }
})

// The analytics cache setting
config.analyticsCache = Object.freeze({
  ttl: 10
})
module.exports = config
